<section fxLayout="column" fxFlexAlign="stretch">
  <mat-card-title >
    Attach Officers to DC#
  </mat-card-title>
  <mat-card-content>
    <app-dialog-alert></app-dialog-alert>
    <form [formGroup]="searchForm">
      <table class="full-width">
        <tr>
          <td>
            <mat-icon matTooltip="Seperate multiple payrollNumber with ;"
                      matTooltipPosition="above"
                      aria-label="support">
              error_outline
            </mat-icon>
          </td>
          <td>
            <mat-form-field class="full-width">
              <input matInput 
                placeholder="Payroll#(s)" 
                name="payrollString"
                formControlName="payrollString"
                [ngClass]="{'is-invalid': submitted && f.payrollString.errors }" 
                autofocus required>
                <mat-hint >Payrolls Number</mat-hint>
                <mat-error *ngIf="submitted&&f.payrollString.errors">{{getPayrollErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
          <td>
            <button mat-icon-button class="form-control" (click)="searchby()">
              <mat-icon aria-label="search">search</mat-icon>
            </button>
            
          </td>
        </tr>
        <br/>
      </table>
    </form >
    <mat-hint >All officer will add to Subpoena.</mat-hint>
    <div class="mat-elevation-z8" >
      <table mat-table [dataSource]="dataSource" class="table" id="officerform">
        <!-- officer name column -->
        <ng-container matColumnDef="Officer">
          <th mat-header-cell *matHeaderCellDef class="text-center">Officer </th>
          <th mat-cell *matCellDef="let row">{{row.lastName}}</th>
        </ng-container>
        <!-- badge column -->
        <ng-container matColumnDef="Badge" >
          <th mat-header-cell *matHeaderCellDef class="text-center">Badge</th>
          <th mat-cell *matCellDef="let row">{{row.badgeId}}</th>
        </ng-container>
        <!-- payroll numbe column -->
        <ng-container matColumnDef="Payroll">
          <th mat-header-cell *matHeaderCellDef class="text-center">Payroll</th>
          <th mat-cell *matCellDef="let row">{{row.payrollNumber}}</th>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="officerStrip" mat-row *matRowDef="let row; columns: displayedColumns;"  style="color:gray;font-size: 15px"></tr>
      </table>
      <mat-paginator #paginator
        showFirstLastButtons
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <hr />
    <div *ngIf="isExpend">
        <form [formGroup]="attachForm">
        <table class="full-width">
          <tr>
            <td >
              <mat-form-field class="full-width">
                <input matInput
                  placeholder="DC#" 
                  name="dcNumber" 
                  formControlName="dcNumber" 
                  [ngClass]="{'is-invalid': attached && a.dcNumber.errors }" 
                  autofocus required>

                <mat-error *ngIf="attached&&a.dcNumber.errors">{{getDcErrorMessage()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td >
              <mat-form-field class="full-width">
                <input matInput
                  placeholder="PID#" 
                  name="pidNumber" 
                  formControlName="pidNumber" 
                  [ngClass]="{'is-invalid': attached && a.pidNumber.errors }" 
                  required>
                <mat-error *ngIf="attached&&a.pidNumber.errors">{{getPidErrorMessage()}}</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input matInput id="remarks" placeholder="Remarks" 
                name="remarks" formControlName="remarks">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td >
              <mat-form-field class="full-width">
                <mat-select placeholder="Listing Type" name="hearingType" formControlName="hearingTypeCode" required>
                  <mat-option value="Jury">Jury</mat-option>
                  <mat-option value="Motion">Motion</mat-option>
                  <mat-option value="Prelim">Prelim</mat-option>
                  <mat-option value="Prep">Prep</mat-option>
                  <mat-option value="Status">Status</mat-option>
                  <mat-option value="Trial">Trial</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td colspan="2">
              <button mat-icon-button class="form-control"  (click)="add()">
                <mat-icon aria-label="add">add</mat-icon>
              </button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </mat-card-content>
</section>




